/************* primary colors ********************/
$color-primary-dark: #323232;
$color-primary-light: #AFAFAF;
$white: #ffffff;

/*************secondary colors *****************/

$color-secondary-dark: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;