@use "./colors" as *;
@use "./mixins" as element;
@use "./breakpoints" as breakpoints;
@use './fonts';

.header {
    background: $color-primary-dark;
    color: $white;
    width: 100vw;
    display: flex;
    flex-direction: column;
  
    &__logo-name {
        margin: 1rem 0 0 0;
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        text-decoration: none;
        color: $white;

        @include breakpoints.medium {
            padding-left: 35px;
            font-size: 1.8rem;
            margin: 0;
        }
    }

    &__menu {
        font-size: .875rem;
        margin: 0;
        line-height: 1.375rem;
        color: $white;
        display: flex;
        padding-left: 0;
        justify-content: space-evenly;
        font-size: 1rem;
        line-height: 2rem;
    }

    &__navigation {
        text-align: left;

        @include breakpoints.medium {
            padding-top: 25px;
        }

    }

    &__menu-item {
        margin: 0;
        font-size: .875rem;
        line-height: 1.375rem;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        display: inline;
        padding-bottom: 10px;
        width: 50%;
        color: $white;

        @include breakpoints.medium {
            font-size: 1rem;
            display: inline-block;
            justify-content: space-around;
            margin-left: 30px;
            font-weight: 400;
            padding-bottom: 25px;
            font-weight: 700;
            line-height: 2rem;
        }
    }


    &__menu-item--link {
        text-decoration: none;
        width: 100%;
        color: $mercury;
        
    }
}




@include breakpoints.medium {
    .header {
        flex-direction: row;
        width: 100vw;
        align-items: center;
    }
}



.active {
    border-bottom: 0.2rem solid $white;
    padding-bottom: 25px;
    font-weight: 400;
    color: $white;

    @include breakpoints.medium {
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        padding-bottom: 21px;
        color: $white;
    }
}


.header__menu-item:hover {
    font-weight: 600;
            padding-bottom: 21px;
    color: $white;

    @include breakpoints.medium {
        padding-bottom: 25px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 2rem;
        color: $white;
    }
}

