@use "./colors" as *;
@use "./mixins" as element;
@use "./breakpoints" as breakpoints;


/******* Hero*************/
.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    position: relative;
    color: $dark-black;

    &__first--content {

        font-weight: 600;
        font-size: .875rem;
        line-height: 1.375rem;
        text-align: left;
    }

    &__first--title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
    }


    &__second--header {
        font-weight: 400;
        font-size: 0.8125;
    }


    &__hero,
    &__hero--image {
        width: 100vw;
        margin: 0 auto;
        background-size: cover;
        position: relative;
    }

    &__hero--title {
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        text-align: left;
        padding-top: 30%;
        height: 99.3%;
        right: 0;
        color: $white;
        background: rgb(50, 50, 50, 0.5);
        padding-left: 1rem;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;

        @include breakpoints.medium {
            font-weight: bold;
            font-size: 3.75rem;
            line-height: 4.25rem;
        }

        @include breakpoints.large {
            font-weight: bold;
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
    }

}

.center {
    text-align: center;
}

/*******************main first*******************/
.main__first,
.main__second {
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
    margin: 0 3rem 0 3rem;

    @include breakpoints.medium {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 7rem 0 7rem;
    }

    @include breakpoints.large {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 6rem 0 6rem;
    }

    &--img {
        max-width: 100%;
        width: 90%;
    }

    &--author {
        font-weight: 700;
    }
}

.main__section--title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    padding: 1rem 2rem 0rem 2rem;
    background: $alabaster;

    @include breakpoints.medium {
        font-size: 2rem;
        font-weight: 600;
        text-align: left;
        background: $alabaster;
        padding: 2rem 4rem 2rem 4rem;
    }
}



/* gallery section*/

.main__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: $alabaster;

    @include breakpoints.medium {
        font-size: 1.8rem;
        margin-left: 30px;
    }

    @include breakpoints.large {
        font-size: 1.8rem;
        display: flex;
        flex-direction: row;
    }
}

.main__gallery--title {
    flex-direction: row;
}

.main-gallery__image {
    max-width: 100%;
    width: 40rem;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    filter: grayscale(100%);
}

.main-gallery__image:hover {
    filter: none;
    transform: scale(1.05);
}


@include breakpoints.medium {
    .main__first--title {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    .main__second--header {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    .main__second--content {
        column-count: 2;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .main__first--content {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .main__first--author {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .main__gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
    }


    .row {
        width: 30%;
    }

}


.comments {
    border-bottom: 1.5px solid $mercury;
    display: flex;
    padding: .625rem;
    justify-content: center;
    margin: 0 auto;
        margin-bottom: 1rem;

    @include breakpoints.medium {
        width: 60%;
    }
    


&__left {
    display: block;
    width: 20%;
    padding: .7rem;
    margin: 0;


&--img {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    margin-left: 5px;
    top: 5px;
    border-radius: 50%;
    background: $mercury;
}
}
/*right part of comments*/
}

.comments {
&__right{ 

&--date {
        color: $silver;
        display: inline-block;
        text-align: right;
        width: 50%;
}
&--comment {
    display: inline;
    width: 100%;
}

&--user {
    font-weight: 600;
    display: inline-block;
    width: 50%;
    color: $black;



}
}
}


.main__form {
    width: 100%;
    text-align: center;

    &--header {
        font-weight: 700;
        display: inline-block;
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        text-align: left;
        color:$black;

    }

}

.form {

    width: 80%;
    justify-content: center;
    align-items: center;
    font-family: "Avenir";

    &__img {
        width: 50px;
        height: 50px;
        border: 1px solid white;
        margin-left: 5px;
        position: relative;
        border-radius: 50%;
    }

    &__name {
        width: 80%;
    }
}

textarea {
    width: 80%;
    text-align: center;
    background: $mercury;
    border: 1px solid $silver;
    font-family: "Avenir";
    border-radius: .3125rem;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

