@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Alternative/files/AvenirNextLTPro-Bold") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Alternative/files/AvenirNextLTPro-Demi") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTPro-Regular") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/************* primary colors ********************/
/*************secondary colors *****************/
/******************** desktop ****************/
/******************** mobile ****************/
/* media query for mobile */
/* media query for tablet */
/* media query for high pixel density devices */
/******* Hero*************/
.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  position: relative;
  color: #323232;
}
.main__first--content {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: left;
}
.main__first--title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
.main__second--header {
  font-weight: 400;
  font-size: 0.8125;
}
.main__hero--image {
  width: 100vw;
  height: 70vw;
  margin: 0 auto;
  background-size: cover;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main__hero--image {
    height: 50vw;
  }
}
.main__hero--title {
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  padding-top: 25%;
  height: 70vw;
  right: 0;
  color: #ffffff;
  background: rgba(50, 50, 50, 0.5);
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 2rem;
}
@media only screen and (min-width: 768px) {
  .main__hero--title {
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 6rem;
    height: 50vw;
  }
}
@media only screen and (min-width: 1280px) {
  .main__hero--title {
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 4.25rem;
    height: 50vw;
  }
}
.main__form {
  width: 100%;
}
.main__form-header {
  font-weight: 700;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #323232;
  margin-left: 2rem;
}
@media only screen and (min-width: 768px) {
  .main__form-header {
    margin-left: 6rem;
    font-size: 2rem;
  }
}
.main__third {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main__third {
    width: 70rem;
  }
}

/*******************main first*******************/
.main__first,
.main__second {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0 2rem 0 2rem;
  color: #323232;
}
@media only screen and (min-width: 768px) {
  .main__first,
.main__second {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 7rem 0 7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .main__first,
.main__second {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 6rem 0 6rem;
  }
}
.main__first--img,
.main__second--img {
  max-width: 100%;
  width: 90%;
}
.main__first--author,
.main__second--author {
  font-weight: 700;
}

.main__section {
  background: #FAFAFA;
  margin-top: 1rem;
  padding: 0 2rem 0 2rem;
}
@media only screen and (min-width: 768px) {
  .main__section {
    padding-top: 3rem;
  }
}

.main__section-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .main__section-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-left: 3rem;
  }
}

/* gallery section*/
.main__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background: #FAFAFA;
}
@media only screen and (min-width: 768px) {
  .main__gallery {
    font-size: 1.8rem;
    margin-left: 30px;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .main__gallery {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
  }
}

.main__gallery--title {
  flex-direction: row;
}

.main-gallery__image {
  max-width: 100%;
  width: 40rem;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  filter: grayscale(100%);
}

.main-gallery__image:hover {
  filter: none;
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .main__first--title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: left;
  }
  .main__second--header {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .main__second--content {
    -moz-column-count: 2;
         column-count: 2;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .main__first--content {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .main__first--author {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .main__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
  }
  .row {
    width: 30%;
  }
}
.form {
  display: flex;
  width: 90%;
  font-family: "Avenir";
  margin: 0 auto;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .form {
    width: 50rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .form {
    width: 70rem;
    margin: 0 auto;
  }
}
.form__left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 0.7rem;
  justify-content: center;
}
.form__right {
  width: 80%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}
.form__img {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid white;
  margin-left: 0.3125rem;
  position: relative;
  border-radius: 50%;
  margin-top: 1.875rem;
}
@media only screen and (min-width: 768px) {
  .form__img {
    width: 3rem;
    height: 3rem;
    margin-top: 1.875rem;
  }
}
.form__label {
  font-weight: 600;
  color: #AFAFAF;
  margin: 1rem 0 1rem 0;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .form__label {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.form__name--item {
  height: 2.5rem;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  width: 100%;
  color: #000000;
  margin: 0 auto;
  background-color: #FAFAFA;
}
.form__name--item:focus {
  border: 1px solid #323232;
}
.form__textarea--item {
  height: 10rem;
  box-shadow: none;
  width: 100%;
  color: #000000;
  background-color: #FAFAFA;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  font-family: "Avenir";
}
.form__textarea--item:focus {
  border: 1px solid #323232;
}
.form__button {
  height: 4.375rem;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}
.form__button--btn {
  height: 2.5rem;
  width: 100%;
  display: block;
  border-radius: 0.3125rem;
  background: #323232;
  color: #ffffff;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  border: none;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .form__button--btn {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.form__button--btn:hover {
  background: #000000;
}

.section {
  display: flex;
  width: 90%;
  font-family: "Avenir";
  margin: 0 auto;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .section {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.center {
  text-align: center;
}

.comment__input--error {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: red;
}
@media only screen and (min-width: 768px) {
  .comment__input--error {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.comments {
  border-bottom: 1.5px solid #E1E1E1;
  display: flex;
  padding: 0.625rem;
  justify-content: center;
  width: 90%;
  font-family: "Avenir";
}
@media only screen and (min-width: 768px) {
  .comments {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 50rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) {
  .comments {
    width: 70rem;
    margin: 0 auto;
  }
}
.comments__left {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  margin: 0;
}
.comments__left-img {
  width: 36px;
  height: 36px;
  border: 1px solid white;
  margin-left: 5px;
  top: 5px;
  border-radius: 50%;
  background: #E1E1E1;
}
@media only screen and (min-width: 768px) {
  .comments__left-img {
    width: 48px;
    height: 48px;
  }
}
.comments__right {
  width: 80%;
}
.comments__right-date {
  color: #AFAFAF;
  display: inline-block;
  text-align: right;
  width: 50%;
}
.comments__right-comment {
  display: inline;
  width: 100%;
}
.comments__right-user {
  font-weight: 600;
  display: inline-block;
  width: 50%;
  color: #323232;
}
.comments__right-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.like {
  width: 5rem;
  height: 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  background: #323232;
  color: #ffffff;
  font-size: medium;
  display: flex;
  padding: 0.5rem;
  justify-content: space-evenly;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bin {
  width: 5rem;
  height: 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  background: #323232;
  color: #ffffff;
  font-size: medium;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
}

.bin:hover {
  background: #000000;
}

.like:hover {
  background: #000000;
}

.header {
  background: #323232;
  color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header__logo-name {
  margin: 1rem 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .header__logo-name {
    padding-left: 4rem;
    padding-right: 2rem;
    font-size: 1.8rem;
    margin: 0;
  }
}
.header__menu {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.375rem;
  color: #ffffff;
  display: flex;
  padding-left: 0;
  justify-content: space-evenly;
  font-size: 1rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  .header__menu {
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.375rem;
    color: #ffffff;
    display: flex;
    padding-left: 0;
    justify-content: space-evenly;
    font-size: 1rem;
    line-height: 2rem;
  }
}
.header__navigation {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .header__navigation {
    padding-top: 25px;
    width: 15rem;
  }
}
.header__menu-item {
  margin: 0;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  display: inline;
  width: 50%;
  color: #E1E1E1;
}
@media only screen and (min-width: 768px) {
  .header__menu-item {
    font-size: 1rem;
    display: inline-block;
    justify-content: space-around;
    font-weight: 400;
    padding-bottom: 25px;
    font-weight: 700;
    line-height: 2rem;
  }
}

li {
  list-style: none;
  width: 50%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  li {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    width: 100vw;
    align-items: center;
  }
  .active {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 25px;
    color: #ffffff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    border-bottom: 0.2rem solid #ffffff;
  }
}
.active-mobile {
  border-bottom: 0.2rem solid #ffffff;
  font-weight: 400;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .active-mobile {
    border-bottom: none;
    font-weight: 400;
    color: #ffffff;
  }
}

.header__menu-item:hover {
  font-weight: 600;
  padding-bottom: 25px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .header__menu-item:hover {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #ffffff;
  }
}

.footer {
  background: #323232;
  border: 1px solid #323232;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  flex-direction: column;
  padding: 20px;
  display: flex;
  padding: 2rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer__first, .footer__second, .footer__third, .footer__fourth {
  padding-top: 10px;
}
.footer__fifth {
  padding-top: 40px;
}
.footer__first {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
.footer__first--icons {
  display: block;
  justify-content: space-between;
}

.footer__fifth--title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25rem;
}

.social {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 768px) {
  .footer {
    border: 1px solid #323232;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    position: relative;
  }
  .footer__first {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 2rem;
  }
  .footer__first--title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2rem;
    font-weight: 900;
  }
  .footer__first--icons {
    margin: 1rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.25rem;
    padding-left: 1.625rem;
  }
  .footer__second,
.footer__third,
.footer__fourth {
    flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 2rem;
  }
  .footer__fifth--title {
    position: absolute;
    top: 64px;
    right: 40px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.25rem;
  }
  .footer__fifth--content {
    margin-left: 4rem;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
a {
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

@media only screen and (min-width: 1280px) {
  .footer__fifth--content {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}/*# sourceMappingURL=bio.css.map */