/************* primary colors ********************/
/*************secondary colors *****************/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/*
@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi") format("truetype");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular") format("truetype");
    font-weight: 400;
    font-style: normal;
}
*/
/*
@mixin center-element ($width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
}
*/
/******************** desktop ****************/
/******************** mobile ****************/
/* media query for mobile */
/* media query for tablet */
/* media query for high pixel density devices */
.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  position: relative;
  color: #000000;
}

@media only screen and (min-width: 1280px) {
  .main__hero {
    display: flex;
  }
}
.main__hero--header {
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  padding-top: 7%;
  height: 100%;
  right: 0;
  padding-left: 1.25rem;
  color: #ffffff;
  background: rgba(50, 50, 50, 0.5);
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  .main__hero--header {
    padding-top: 7%;
    font-weight: 400;
    padding-left: 4rem;
    font-size: 2rem;
    line-height: 4.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .main__hero--header {
    padding-top: 15%;
    font-weight: 400;
    padding-left: 4rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}
.main__hero--player {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 7rem;
  bottom: 20%;
  text-align: center;
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  .main__hero--player {
    height: 7rem;
    text-align: center;
    padding: 20px;
    z-index: 99;
    width: 30rem;
    position: absolute;
    top: 23%;
    left: 60%;
    margin: 0;
  }
}
.main__hero--content {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  padding-top: 20%;
  color: #ffffff;
  font-weight: 600;
}
@media only screen and (min-width: 1280px) {
  .main__hero--content {
    font-weight: 700;
    padding-left: 4rem;
    font-size: 5rem;
    line-height: 5rem;
    display: inline-block;
  }
}/*# sourceMappingURL=shows.css.map */