@use "./partials/colors" as *;
@use "./partials/mixins" as element;
@use "./partials/breakpoints" as breakpoints;
@use "./partials/fonts";



.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    position: relative;
    color: $color-secondary-dark;

    &__show {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
        width: 95%;
        margin-left: 2rem;

        @include breakpoints.medium {
            font-size: 3.75rem;
            line-height: 4.25rem;
            margin-left: 5rem;
        }
    }

    &__hero {

        background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
            url("../assets/Images/about.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vw;
    

        @include breakpoints.large {
        }

        &--header {
            top: 0;
            left: 0;
            margin: 0;
            position: absolute;
            text-align: left;
            padding-top: 5%;
            right: 0;
            padding-left: 1.25rem;
            color: $white;
            padding-left: 2rem;
            font-weight: 400;
            font-size: 1rem;
            line-height: 2rem;

            @include breakpoints.medium {
                padding-top: 7%;
                font-weight: 400;
                padding-left: 4rem;
                font-size: 2rem;
                line-height: 4.25rem;
                height: 50vw;
            }

            @include breakpoints.large {
                font-weight: 400;
                padding-left: 4rem;
                font-size: 2rem;


            }
        }
  &--player{
    display: inline;
  }

        &--content {
            font-size: 1.5rem;
            position: absolute;
            top: .625rem;
            margin: 0;
            text-align: left;
            padding-top: 15%;
            padding-left: 2rem;
            color: $white;
            font-weight: 600;

            @include breakpoints.medium {
                font-weight: 700;
                padding-left: 4rem;
                font-size: 3rem;
                width: 60%;

            }

            @include breakpoints.large {
                font-weight: 700;
                padding-left: 4rem;
                font-size: 4rem;
                width: 60%;
            }
        }

        &__show {
            font-weight: 600;
            font-size: 3rem;
            text-align: left;
            margin-left: 2rem;
        }
    }
}






.title__show {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    width: 95%;
    margin-left: 2rem;
    padding-top: $padding-mobile-before;


    @include breakpoints.medium {
        font-size: 3.75rem;
        line-height: 4.25rem;
        margin-left: 2rem;
        padding-top: $padding-mobile-before*2;
        padding-bottom: 2.25rem;
    }
}




 iframe {
     z-index: 99;
     position: relative;
     top: -9.5rem;
     left:2rem;

     @include breakpoints.medium {
        z-index: 99;
            position: relative;
            top: -7.5rem;
            left: 4rem;

     }

     @include breakpoints.large {
            z-index: 99;
                position: relative;
                top: -30rem;
                left: 55rem;
                width: 30%;

     }


 }







/**************** Shows section************************/
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    padding: 1rem;
    font-size: .8125rem;
    line-height: 1.125rem;


    @include breakpoints.medium {
        margin-left: 2rem;
        display: inline;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &__header {

    border-bottom: 1px solid $mercury;
        padding-bottom: 1rem;
        width: 100%;
        font-size: 1rem;
        padding-left: 1rem;
        color: $color-primary-dark;

        @include breakpoints.medium {
            display: flex;
                width: 100%;
                flex-direction: row;
                align-self: flex-start;
                font-size: 1.5rem;
                line-height: 2rem;
                align-items: center;

        }
    }

    &__header--item {
        font-size: 1rem;
        text-transform: uppercase;
        color: $color-primary-light;
        font-weight: 600;
        width: 21%;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
    @include breakpoints.medium {
font-size: 1rem;
    text-transform: uppercase;
    color: $color-primary-light;
    font-weight: 600;
    width: 23%;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    }
    }
}

.shows {
    border-bottom: 1px solid $mercury;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    padding-left: 1rem;
    color: $color-primary-dark;
    padding: 1rem;


    &:hover {
        background: $alabaster;
    }

    &:active {
        background: $mercury;
    }


    @include breakpoints.medium {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-self: flex-start;
        font-size: 1.5rem;
        line-height: 2rem;
        align-items: center;
        }

    &__button {
        height: 40px;
        width: 100%;
        border-radius: .3125rem;
        background: $color-primary-dark;
        color: $white;
        font-family: "Avenir";
        font-weight: 600;
        border: 1px solid $color-primary-dark;

        @include breakpoints.medium {
            width: 15rem;
            margin: 1rem 2rem 1rem 2rem;
            width: 20rem;
        }
    }

    &__button:hover {
        background: $color-secondary-dark;
    }

    &__dateHeader,
    &__venueHeader,
    &__locationHeader {
        font-size: .875rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        color: $color-primary-light;
        font-weight: 600;
       
    }
@include breakpoints.medium {


    &__venue, &__location {
        font-weight: 400;
        text-align: left;
        width: 23%;
    }
&__date {
    font-weight: 600;
    text-align: left;
    width: 23%;
}
}
}